body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238,238,238);
}
#logoContainer{
    width: 60%;
    margin-left: 20%;
    margin-top: 15%;
}
h1{
    font-weight: 900;

}
#titleContainer{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-size: 30px;
    margin-top: 2%;
}
#introContainer{
    color: rgb(91,91,91);
    font-weight: lighter;
    margin-left: 10%;
    font-size: 20px;
}
h2{
    font-weight: inherit;
}
#bothButtonContainers{
    margin-left: 10%;
    width: 80%;
}
.eachButtonContainer{
    width: 100%;
    margin-top: 10%;
}
.eachButton{
    width: 100%;
    padding: 2%;
    border-radius: 10px 10px 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(238,124,110);
    background-color: rgb(238,238,238);
    transition: background-color .6s ease-in-out;
}
.eachButton:hover{
    background-color: rgb(238,124,110);
}